<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="Steam.exe Path" value="d:\Games\Steam\steam.exe"/>
    <add key="Steam FOlder Path" value="d:\Games\Steam\"/>
    <add key="XML Paths" value="d:\Games\Steam\Steam.Client.XML"/>
  </appSettings>
</configuration>
